<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bem vindo a UNES!</title>
        <link rel="stylesheet" href="static/css/CSS.css">
    </head>
    <body style="background-image:url(static/imagens/fundo.png);">
        <div>
            <img class="imglogo" src="static/imagens/logo.png" alt="logo">
            <a class="textocontato" href="" >Home</a>
            <a href="http://127.0.0.1:5000/quemsomos">|Quem somos|</a>
            <a href="http://127.0.0.1:5000/contatos">Contato</a>
        </div>
        <div class="imgcapa">
            <img src="static/imagens/capa.png" alt="capa">
        </div>
        <div>
            <h1>Sobre a universidade</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid adipisci odit nam debitis culpa quaerat voluptatibus reprehenderit quasi sequi commodi corporis doloremque, maxime suscipit in, ipsam rem sunt aliquam tempore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate explicabo quis necessitatibus deleniti quia? Magni officia dignissimos praesentium quia, repellat nulla laboriosam velit ex, minus beatae quidem necessitatibus ullam! Quo?</p>
            <p>Velit, impedit minima vero blanditiis delectus doloremque nihil voluptate laborum dicta labore. Autem asperiores deserunt tenetur fugit aperiam, animi provident nam velit voluptatum, atque, deleniti iure recusandae neque eos quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quidem tempora assumenda deserunt dicta excepturi voluptatibus in recusandae vitae aut fuga at alias, iste doloremque saepe ab nostrum fugiat! Impedit?</p>
        </div>
        <div class="direitos">
            <p>Todos os direitos reservados</p>
        </div>
    </body>
</html>