body{
    margin: 0px 0px 0px; padding: 0px 0px 0px;
    background-color: lightgray;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgba(255, 255, 255, 0.836); 
    text-decoration:none; 
    cursor:pointer;
}
h2{
    padding-top: 10px;
    font-family: Verdana;
    font-size: 20px;
    color: #f8b710;  
}
.divheader { 
    background-color:#f8b710;
    text-align: center;
    margin-top: -22px;
}
.tec{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 4, 7);
    font-size:5vmin;
    font-weight:bold;
}
.blog{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    font-weight:bold;
}
.headerlinks{
    margin: -10px 0px 0px;
    padding-bottom: 10px;
    color:rgb(255, 255, 255);
    font-family:  'Arial Narrow';
    font-weight: bold;
    font-size: 2.7vmin;
}
.divgeral{
    display: inline-block;
    margin-right: 200px; margin-left: 200px;
}
.divpostagens{
    float: left;
    width: 650px;
}
.div_barra_lat{
    float: right;
    width: 250px;
    margin-left: 10px; margin-top: 16px;
    
}
.post1{
    background-color: white;
    padding-left: 5px; padding-bottom: 0.5px;
    font-family: Verdana;
    font-size: 15px;
}
.post2{
    background-color: white;
    padding-left: 5px; padding-bottom: 0.5px;
    font-family: Verdana;
    font-size: 15px;
}
.recente{
    background-color: white;
    padding-left: 5px;
    padding-top: 10px; 
}
.categoria{
    background-color: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 0.02px;
}
.leiamais{
    color: #f8b710;
    font-weight:bolder;
}
.postagem_recente{
    background-color: rgb(155, 155, 155);
    margin-top: -2.5px; margin-right: 4.8px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(104, 99, 99);
}
.pqn{
    font-weight: 800;
}
.pct{
    background-color: rgb(155, 155, 155);
    margin-top: -2.5px; margin-right: 4.8px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(104, 99, 99);
}
.pqp{
    margin-top: -10px;margin-left: 2.5px;
    color: #f8b710;
    font-weight: 800;
}
.dreservados{
    display: inline-block;
    text-align: center;
    margin-top: 10px; margin-left: 200px; margin-right: 200px; margin-bottom: 10px;
    width: 920px;
    background-color: gray;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}